body {
    background-color: #eeeeee;
}

.row .center a {
    width: 100%;
}

#add-debt-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

#nav-mobile a {
    height: 64px;
}

#nav-mobile img {
    height: 60px;
    margin-top: 2px;
}
